<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:25%;"><h3 class="icon-head head-languagecsvs-control"><?php echo Mage::helper('languagecsv')->__('CSV Languages Files') ?></h3>
            </td>
            <td class="form-buttons"><?php echo $this->getCreateButtonHtml(); ?></td>
        </tr>
    </table>
</div>
<?php echo $this->getGridHtml() ?>